<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Marca -->
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/logo.png" class="navbar-brand-img " alt="Logo">
      </a>
    </div>

    <!-- Contenido -->
    <div class="navbar-inner">
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Menú principal -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="fas fa-home text-primary"></i> Inicio
            </a>
          </li>
        </ul>

        

        <!-- Módulos dinámicos 
        <h6 class="navbar-heading text-muted">Módulos</h6>-->
        <ul class="navbar-nav">
          {% for modulo in modulos_accesibles %}
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" data-toggle="collapse" href="#collapse{{ modulo.nombre }}" role="button" aria-expanded="false" aria-controls="collapse{{ modulo.nombre }}">
              <i class="fas {{ modulo.icono }} text-primary mr-2"></i> {{ modulo.nombre }}
              
            </a>
            {% if modulo.submodulos %}
            <div class="collapse" id="collapse{{ modulo.nombre }}">
              <ul class="list-unstyled pl-4">
                {% for submodulo in modulo.submodulos %}
                <li>
                  <a class="nav-link" href="{% url submodulo.url %}">
                    <!--<i class="fas {{ submodulo.icono }} text-info mr-2"></i>--> {{ submodulo.nombre }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </li>
          {% endfor %}
        </ul>

        <!-- Enlaces estáticos
        <h6 class="navbar-heading text-muted mt-4">General</h6>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
              <i class="ni ni-planet text-orange"></i> Icons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/map.html">
              <i class="ni ni-pin-3 text-primary"></i> Google Maps
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <i class="ni ni-single-02 text-yellow"></i> Perfil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
              <i class="ni ni-bullet-list-67 text-default"></i> Tablas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html">
              <i class="ni ni-key-25 text-info"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register.html">
              <i class="ni ni-circle-08 text-pink"></i> Registro
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout_url">
              <i class="ni ni-user-run text-danger"></i> Logout
            </a>
          </li>
        </ul> -->

        <!-- Recursos 
        <hr class="my-3">
        <h6 class="navbar-heading text-muted">Recursos</h6>
        <ul class="navbar-nav mb-md-3">
         
        </ul>-->
      </div>
    </div>
  </div>
</nav>
