{% extends 'layouts/base.html' %}

{% load static %}
{% block title %} {{usuario.full_name_bread}} {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'user_index' %}">USUARIOS</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ usuario.full_name_bread }}
                    </li>
                </ol>
            </nav>
            <!-- Title -->
            <div class="row align-items-center py-4">

                <div class="col-lg-12 col-5 text-right">
                    {% if perms.usuarios.can_update_cliente %}
                    <a href="{% url 'user_update' usuario.id %}" class="btn btn-lg btn-neutral">EDITAR</a>
                    {% endif %}
                    {% if perms.usuarios.can_delete_cliente %}
                    <a href="{% url 'user_delete' usuario.id %}" class="btn btn-lg btn-danger">ELIMINAR</a>
                    {% endif %}
                    <a href="{% url 'clientes_index' %}" class="btn btn-lg btn-secondary">CANCELAR</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt--6">

    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-10 ">
            <div class="card card-profile">
                <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top"
                    height="300px" style="object-fit: cover;">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">




                            <img src="{% if usuario.profile_picture and usuario.profile_picture != '' %}{{ usuario.profile_picture.url }}{% else %}{% static '/assets/img/brand/icon_user.png' %}{% endif %}"
                                alt="{{ usuario.full_name }}" class="rounded-circle">


                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'user_update' id=usuario.id %}"
                            class="btn btn-sm btn-default   float-right">EDITAR</a>

                    </div>
                </div>
                <div class="card-body pt-0">

                    <div class="text-center">
                        <h5 class="h3">
                            {{ usuario.full_name }}
                        </h5>
                        <div class="h5 font-weight-300">
                            {{ usuario.email }}
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">ACCESO A LA APP: {% if usuario.access_to_app %}
                                <i class="fas fa-check-circle" style="color: green;"></i> <!-- Palomita en verde -->
                                {% else %}
                                <i class="fas fa-times-circle" style="color: red;"></i> <!-- X en rojo -->
                                {% endif %}
                            </div>
                            <div class="col-md-4"> </div>
                        </div>

                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>DIRECCIÓN
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4 ">Estado: {{direccion.estado.nombre}} </div>
                                <div class="col-md-4"> MUNICIPIO: {{direccion.municipio.nombre}} </div>
                                <div class="col-md-4">colonia: {{direccion.colonia.d_asenta}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">CALLE: {{direccion.calle}} </div>
                                <div class="col-md-2">
                                    {% if direccion.numero_interior %}
                                    NO. INT: {{ direccion.numero_interior }}
                                    {% else %}
                                    NO. INT:
                                    {% endif %}
                                </div>

                                <div class="col-md-2">NO. EXT: {{direccion.numero_exterior}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock content %}